body {
   color: withe;
   background: black;
   margin: 0 px;
   font-family: "Chakra Petch", sans-serif;
   margin-bottom: 100 px;
}

header {
   border-bottom: solid 2 px rgb (42, 122, 228);
   padding: 20 px;
   font size: 32 px;
   color: rgb (42, 122, 228);
}

.chamada {
   background: rgb (184, 156, 213);
   padding-bottom: 80 px;
   padding-top: 80 px;
   display: flex;
   justifly-content: center;
}

.chamada.texto {
   margin-right: 5 %;
}

h1 {
   font-size:40 px;
}

p {
   font-size: 20 px;
}

.categorias-videos {
   display: flex;
   overflow-x: auto;
   gap: 10 px;
}

   .categoria {
padding-left: 20 px;
padding-right: 20 px;
margin-top: 50 px;
   }

categoria-videos img {
   opacity: 0.5;
   height:200 px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 3 px solid green;
}

.categoria h2 {
   color: rgb (42, 122, 228);
}
   
   








   
